/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font */
@font-face{
    font-family: monster_xbolt;
    src:url(../res/fonts/Montserrat-ExtraBold.ttf);
}
@font-face{
    font-family: monster_thin;
    src:url(../res/fonts/Montserrat-Thin.ttf);
}
@font-face{
    font-family: monster_sbolt;
    src:url(../res/fonts/Montserrat-SemiBold.ttf);
}
@font-face{
    font-family: monster_regular;
    src:url(../res/fonts/Montserrat-Regular.ttf);
}
@font-face{
    font-family: monster_bolt;
    src:url(../res/fonts/Montserrat-Bold.ttf);
}
@font-face{
    font-family: monster_light;
    src:url(../res/fonts/Montserrat-Light.ttf);
}

/*universal*/
.flex{
    display: flex;
}
.regular_text{
    font-family: "monster_regular";
    font-size: 1.2em;
}
.justify{
    text-align: justify;
}

/* navigation bar */
.nav_bar{
    background-color: teal;
    color: antiquewhite;
    padding: 20px 15px;
    justify-content: space-between;
}
@media(min-width: 800px){
    .nav_bar{
        padding: 30px;
    }
}

.alien_nav{
    display: block;
    font-family: "monster_xbolt";
    display: flex;
    align-items: center;
    list-style: none;
    padding: 7px 5px;
    background-color: black;
}
.alien_nav li a{
    text-decoration: none;
    padding: 0px 10px;
    color: goldenrod;
}
@media(min-width: 800px){
    .alien_nav{
        display: none;
    }
}

.logo{
    font-family: "monster_xbolt";
    font-size: 1.5em;
    text-decoration: none;
    color: antiquewhite;
}
.sub_logo{
    font-family: "monster_light";
    font-size: 1em;
}

.menu{
    font-family: "monster_bolt";
    font-size: 1em;
    list-style: none;
    display: none;
}
@media(min-width: 800px){
    .menu{
        display: flex;
    }
}
.menu li a{
    text-decoration: none;
    color: antiquewhite;
    padding: 0 10px;
}

/*caursel*/
.caursel{
    padding: 40px 25px;
}
@media(min-width: 800px){
    .caursel{
        padding: 5em 2em;
        display: flex;
        justify-content: space-between;
        vertical-align: baseline;
    }
}
.caursel_title{
    padding: unset;    
}
@media(min-width: 800px){
    .caursel_title{
        padding: 2em 1em;
    }
}
@media(min-width: 1200px){
    .caursel_title{
        padding: 5em 2em;
    }
}
.caursel_title1{
    font-family: "monster_xbolt";
    color: teal;
    font-size: 2.7em;
}
@media(min-width: 800px){
    .caursel_title1{
        font-family: "monster_xbolt";
        color: teal;
        font-size: 3em;
    }
}
@media(min-width: 1200px){
    .caursel_title1{
        font-family: "monster_xbolt";
        color: teal;
        font-size: 4em;
    }
}
.caursel_title2{
    font-family: "monster_xbolt";
    color: goldenrod;
    font-size: 2em;
}
@media(min-width: 800px){
    .caursel_title2{
        font-family: "monster_xbolt";
        color: goldenrod;
        font-size: 2em;
    }
}
@media(min-width: 1200px){
    .caursel_title2{
        font-family: "monster_xbolt";
        color: goldenrod;
        font-size: 3em;
    }
}

.caursle_image{
    width: 100%;
}
@media(min-width: 800px){
    .caursle_image{
        height: 300px;
        width: 450px;
    }
}
@media(min-width: 1200px){
    .caursle_image{
        height: 500px;
        width: 750px;
    }
}

/*about*/
.about{
    background-color: antiquewhite;
    padding: 35px;
}
@media(min-width: 800px){
    .about{
        padding: 3.5em 10em;
        text-align: justify;
    }
}
.about_logo{
    text-align: center;
    font-family: "monster_xbolt";
    font-size: 2em;
    color: goldenrod;
}
.about_strong{
    font-family: "monster_bolt";
    font-size: 1.3em;
    color: teal;
}

/*projects*/
.projects{
    padding: 35px;
}


/*card*/
.card {
    background: teal;
    /*background: #fff;*/
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 15px 0px;
    position: relative;
    width: 300px;
}
@media(min-width: 800px){
    .card{
        margin: 20px;
    }
}

.card_margin{
    justify-content: unset;
}
@media(min-width: 800px){
    .card_margin{
    }
}

.card_title{
    padding: 10px;
    font-family: "monster_xbolt";
    font-size: 3em;
    opacity: 0.1;
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.7);
}

/*footer*/
.footer{
    padding:2em 1em;
    justify-content: center;
    font-family: monster_regular;
    background-color: black;
    color: white;
}
footer p{
    padding: 2px;
}
footer p strong{
    color: goldenrod;
}
footer div a{
    padding: 10px;
    text-decoration: none;
}
#change{
    fill: white;
}