@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    min-height: 100vh;
    color: #2C3E50;
}
a{
    color: black;
    text-decoration: none;
}
strong{
    color: black;
}
::selection{
    background-color:gold;
    color: black;
}

.badges{
    padding-left: 10px;
    display: inline-block;
    font-size: 16px;
}
.badge{
    text-decoration: none;
}
.sidebar .bi{
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
    color: black;
}

.sidebar .bi:hover{
    transform: rotate(30deg);
}

.title,
.sub-title {
    text-transform: capitalize;
    font-weight: bold;
    margin: 10px 0;
    display: inline-block;
}
.highlight{
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #F2F3F4;
}

.title {
    margin-top: 30px;
    font-size: 1.5em;
}

.sub-title {
    font-size: 20px;
    font-weight: bolder;
    margin-right: 10px;
    /* color: #0c6dfd; */
}
.text{
    color: #626567;
}

.color {
    color: blue;
}

.tag {
    border-radius: 5px;
    font-size: 12px;
    text-transform: capitalize;
    padding: 3px 5px;
    border: 1px solid black;
    cursor: pointer;
    line-height: 30px;
}

.container-fluid {
    padding: 0 !important;
}

/* timeline */
.timeline {
    border-left: 1.5px solid gray;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background: (fade(black), 3%);
    color: fade(white, 80%);
    margin: 30px 10px;
    letter-spacing: 0.5px;
    position: relative;
    padding: 0 30px;
    list-style: none;
    text-align: left;
}

.event {
    border-bottom: 1px dashed fade(black, 10%);
    margin-bottom: 30px;
    position: relative;
}

.event::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -36px;
    background-color: gray;
    border-radius: 50%;
    z-index: 1;
}

.event .date {
    line-height: 7px;
    font-size: 0.8em;
}

/* sidebar */

.sidebar {
    text-align: right;
    background-color: #F8F9F9;
    padding: 25px;
}

.sidebar .profile {
    padding: 10px;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
    object-fit: cover;
}

.sidebar .name {
    text-transform: capitalize;
    font-size: 2em;
    font-weight: bold;
}
.main nav{
    padding: 0 25px;
    padding-top: 20px;
}
.main {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main::-webkit-scrollbar {
    display: none;
}

.about, .experience, .projects, .articles, .footer, .news {
    padding: 7px 0;
}
.footer{
    margin: 10px;
}

.bi-arrow-up-circle{
    background-color: white;
    height: 40px;
    border-radius: 100%;
    bottom: 30px;
    right: 30px;
    position: fixed;
    font-size: 30px;
}

.navbar{
    background-color: white;
}
/* .navbar a{
    color: #626567;
} */
.link{
    font-size: 15px;
}
.navbar-toggler{
    border: 0;
}
.navbar-toggler{
    padding: 5px 0;
    outline: none;
    box-shadow: none !important;
}
.navbar-toggler .bi{
    font-size: 2em;
}
.navbar .end{
    text-align: center;
    display: none;
    font-size: 2em;
}
.navbar .active{
    background-color: #F2F3F4;
    color: black;
    border-radius: 5px;
}
.navbar .nav-link:hover{
    background-color: #F2F3F4;
    border-radius: 5px;
}

.table *{
    border: 0;
}

@media only screen and (max-width: 768px) {
    .main{
        height: unset;
        padding: 0 20px;
    }
    .main .content{
        padding-left: 0px;
        margin: 0;
    }
    .navbar{
        background-color: #F8F9F9;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 20px;
        display: block;
        width: 100%;
    }
    .sidebar{
        margin-top: 50px;
        text-align: center;
    }
    .footer{
        text-align: center;
    }
    .navbar .end{
        text-align: center;
        display: block;
        font-size: 2em;
    }
}