/*
font-family: 'Orelega One', cursive;
font-family: 'Saira', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Orelega+One&family=Saira:wght@300;400&display=swap');

:root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
}

body {
    font-family: 'Saira', sans-serif;
    /*font-family: 'Orelega One', cursive;*/
    background-color: var(--navy);
    color: var(--light-slate);
    font-size: 1.1em;
}

/* card */

.myCard {
    background: var(--light-navy);
    border-radius: 5px;
    display: inline-block;
    height: 400px;
    width: 350px;
    margin: 1rem;
    position: relative;
    padding: 1.5em;
}

.card-1 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.about-card {
    background: var(--light-navy);
    border-radius: 2px;
    display: inline-block;
    height: 450px;
    width: 600px;
    margin: 1rem;
    position: relative;
    padding: 1.7em;
    text-align: left;
}

.card-title {
    color: var(--green);
    height: 3em;
}

.card-body {
    height: 12em;
}

.card-footer {
    text-align: right;
    letter-spacing: 1.5px;
}

/* section1 */

.nav {
    padding: 1em 5em;
}

.nav-link {
    text-decoration: none;
    color: var(--white);
}

.nav-link:hover {
    color: var(--green);
}

#title1 {
    font-weight: 900;
    color: var(--white);
    font-size: 5em;
}

#title2 {
    font-weight: 900;
    color: var(--slate);
    font-size: 3em;
}

#title3 {
    letter-spacing: 0.4em;
    color: var(--green);
}

.home {
    padding: 3em 0;
}

.btn {
    margin: 2em 0;
    padding: 1em;
    border: 2px solid var(--green);
    background-color: var(--navy);
    color: var(--green);
    border-radius: 7px;
    font-size: 1em;
    background-color: rgba(100, 255, 218, 0.06);
}

.btn:hover {
    color: var(--green);
}

.tag {
    border: 0;
    font-size: 1em;
    padding: 0 .5em;
    background-color: var(--green);
    color: var(--dark-navy);
    border-radius: 30px;
    font-size: 1em;
    margin: 0.2em 0.2em;
}

.tag::before {
    content: "➤ ";
}

.skill {
    color: var(--white);
}

strong {
    color: var(--green);
}

hr {
    width: 50%;
    color: var(--green);
    text-align: left;
}

img {
    border: 10px solid var(--light-navy);
    border-bottom: 40px solid var(--light-navy);
    border-top: 25px solid var(--light-navy);
    border-radius: 5px;
    width: 300px;
}

/* footer */

footer div a {
    padding: 10px;
    text-decoration: none;
}

#change {
    fill: var(--green);
}

.end a {
    text-decoration: none;
    color: var(--slate);
}
.title{
    font-weight: 900;
    letter-spacing: 3px;
}
.section2, .section3, .section4{
    padding: 4em 0;
}
a{
    text-decoration: none;
    color: var(--light-slate);
}
a:hover{
    color: var(--light-slate);
}