/*---- google font ----*/


/* font-family: 'Atkinson Hyperlegible', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

/*---- color scheme ----*/

:root {
    --white: #ffffff;
    --primary-black: #111111;
    --gray: #ccd6f6;
    --primary-yellow: #fcc117;
    --primary-navy: #0a192f;
    --primary-dark: ;
    --secondary-black: #242424;
    --secondary-dark: ;
    --secondary-navy: #112240;
    --secondary-yellow: #ffcf45;
}


/*---- background style ----*/

.bg-ball {
    opacity: 0.3;
    background: url(./ball.svg);
    background-repeat: repeat;
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 1.0em;
    background-image: url(./texture.png);
    background-color: var(--primary-navy);
    color: var(--white);
}


/*---- general properties ----*/

::selection {
    color: black;
    background-color: #5d87cf;
}

h1,
h4 {
    font-weight: bolder;
}

p {
    color: var(--gray);
}

h1 {
    text-transform: uppercase;
    color: var(--primary-yellow);
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--gray);
}

a:hover {
    color: var(--black);
}


/*---- carousel image ----*/

.carousel-about {
    padding: 0 2em 5em 2em;
}

.carousel-img {
    filter: grayscale(100%);
    width: 100px;
    height: 450px;
    object-fit: cover;
}

.carousel-img:nth-child(odd) {
    padding-bottom: 30px;
}

.carousel-img:nth-child(even) {
    padding-top: 30px;
}

.carousel-img:hover {
    filter: none;
}


/*---- card ----*/

.card {
    height: 400px;
    width: 100%;
    background: var(--secondary-navy);
    border-radius: 5px;
    display: inline-block;
    position: relative;
    text-align: left;
    padding: 1.5em;
    margin: 1em 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-title {
    color: var(--secondary-yellow);
}

.card-body {
    height: 130px;
    padding: 0;
}

.card-tag {
    margin: 0 0.7em 0 0;
}

.card-footer {
    border: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1px;
    height: 40px;
    color: var(--secondary-yellow);
    background-color: var(--secondary-navy);
}


/*---- button ----*/

.btn {
    filter: drop-shadow(1px 1px 1px var(--secondary-navy));
    padding: 10px 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid var(--primary-yellow);
    color: var(--primary-yellow);
    border-radius: 0;
}

.btn:hover {
    background-color: var(--primary-yellow);
    color: var(--primary-navy);
}


/*---- Section ----*/

section {
    margin: 0 0 15em 0;
}

#section1 {
    margin-top: 10em;
}


/*---- timeline ----*/

.timeline {
    border-left: 3px solid var(--primary-yellow);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background: fade(var(--primary-navy), 3%);
    color: fade(white, 80%);
    margin: 30px;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px 50px 0px 50px;
    list-style: none;
    text-align: left;
}

.event {
    border-bottom: 1px dashed fade(var(--primary-navy), 10%);
    padding: 1em 0;
    margin-bottom: 50px;
    position: relative;
}

.event::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: -61px;
    background-color: var(--primary-yellow);
    /* border: 4px solid #FF9F55; */
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeline-date {
    color: var(--secondary-yellow);
    padding: 0 0 1em 0;
    font-size: 0.8em;
}


/*---- hadings -----*/

.heading {
    text-transform: uppercase;
    color: var(--primary-yellow);
    font-weight: bolder;
    margin: 1em 0 1em 3em;
    position: absolute;
}

.heading-sm {
    display: none;
}


/*---- skill cards ----*/

.skills {
    text-align: center;
    padding: 2em 1em;
    height: auto;
}

.skills:nth-child(even),
.skills:nth-child(even) p {
    color: var(--primary-yellow);
    background-color: var(--secondary-navy);
}

.skills:nth-child(odd),
.skills:nth-child(odd) p {
    color: var(--primary-navy);
    background-color: var(--secondary-yellow);
}


/*---- footer ----*/

footer {
    background-color: var(--secondary-navy);
}

#change {
    fill: var(--secondary-yellow);
}


/*---- meadia quary ----*/

@media only screen and (max-width: 1000px) {
    .heading {
        display: none;
    }
    .heading-sm {
        margin: 2em 0;
        display: block;
        text-align: center;
    }
}