<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="nks6NoZme4YWYKhr1R5Nto60S_hOo56TusZcRfnfc48"/>
<meta name="description"
    content="I'm Suvasish Das, M.Sc Computer Science student. Like to design & building products that positively impact the lives of users.">
<meta name=”robots” content=”index, follow”>
<meta property="og:type" content="article">
<meta property="og:title" content="Suvasish Das">
<meta property="og:description"
    content="I'm Suvasish Das, M.Sc Computer Science student. Like to design & building products that positively impact the lives of users.">
<meta property="og:image" content="https://suvasish114.github.io/assets/res/passport.jpg">
<meta property="og:url" content="https://suvasish114.github.io/">
<meta property="og:site_name" content="Suvasish Das">