<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="nks6NoZme4YWYKhr1R5Nto60S_hOo56TusZcRfnfc48"/>
<meta name="description" content="{{page.description}}">
<meta name=”robots” content=”index, follow”>
<meta property="og:type" content="article">
<meta property="og:title" content="Suvasish Das | {{page.title}}">
<meta property="og:description" content="{{page.description}}">
<meta property="og:image" content="{{page.thumbnail}}">
<meta property="og:url" content="{{page.url}}">
<meta property="og:site_name" content="Suvasish Das">
<title>Suvasish Das | {{page.title}}</title>