<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">Suvasish Das.</a>
        <div>
            <i data-pushbar-target="mypushbar" class="bi bi-list largefont menubutton"></i>
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/pages/works.html">Projects</a>
                <!-- <a class="nav-link" href="/pages/publications.html">Publications</a> -->
                <!-- <a class="nav-link" href="/pages/posts.html">Blog</a> -->
            </div>
        </div>
    </div>
</nav>

<div data-pushbar-id="mypushbar" data-pushbar-direction="right">
    <div class="my_pushbar p-3">
        <i data-pushbar-close class="bi bi-x-lg largefont"></i>
        <div class="navbar-nav my-5">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/pages/works.html">Projects</a>
            <!-- <a class="nav-link" href="/pages/publications.html">Publications</a> -->
            <!-- <a class="nav-link" href="/pages/posts.html">Blog</a> -->
        </div>
    </div>
</div>
