<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">Suvasish Das.</a>
        <div>
            <i data-pushbar-target="mypushbar" class="bi bi-list largefont menubutton"></i>
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/#research">Research</a>
                <a class="nav-link" href="/pages/post.html">Posts</a>
                <i id="darkModeToggle" class="bi bi-moon"></i>
            </div>
        </div>
    </div>
</nav>

<div data-pushbar-id="mypushbar" data-pushbar-direction="top">
    <div class="my_pushbar p-3 position-relative">
        <i id="darkModeToggle" class="bi bi-moon mb-5"></i>
        <i data-pushbar-close class="bi bi-x-lg largefont position-absolute top-0 end-0 m-5"></i>
        <div class="navbar-nav my-3">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/#research">Research</a>
            <a class="nav-link" href="/pages/post.html">Posts</a>
        </div>
    </div>
</div>