<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">Suvasish</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <i class="bi bi-x-lg"></i> -->
            <i class="bi bi-list"></i>
            <!-- <span class="navbar-toggler-icon"></span> -->
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Publications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/works.html">Works</a>
                </li>
            </ul>
        </div>
    </div>
</nav>