<div class="news-item d-flex justify-content-start mb-3">
    <div class="date"> <span class="month">OCT</span><br><span class="year">24</span></div>
    <div>UGC-NET qualified for Assistant professor and admission to PhD with 95.16 percentile among 29K candidates</div>
</div>
<div class="news-item d-flex justify-content-start mb-3">
    <div class="date"> <span class="month">JUL</span><br><span class="year">24</span></div>
    <div>Secure 1st position in M.Sc in the department at WBSU and its affiliated colleges <a
        href="https://drive.google.com/file/d/1v9ZRnqggKlU22XmH5QqricN-8BaH7rwH/view?usp=drive_link"><i
            class="bi bi-box-arrow-up-right mx-2"></i></a></div>
</div>
<div class="news-item d-flex justify-content-start mb-3">
    <div class="date"> <span class="month">MAR</span><br><span class="year">24</span></div>
    <div>GATE qualified with a score of 469 (paper: CS)</div>
</div>
<div class="news-item d-flex justify-content-start mb-3">
    <div class="date"> <span class="month">DEC</span><br><span class="year">22</span></div>
    <div>UGC-NET qualified for assistant professor</div>
</div>
<div class="news-item d-flex justify-content-start mb-3">
    <div class="date"> <span class="month">DEC</span><br><span class="year">22</span></div>
    <div>Selected for DRDO - DIAT OTCC AI Professional</div>
</div>