<div data-pushbar-id="mypushbar1" data-pushbar-direction="right">
    <div class="my_pushbar">
        <button style="border: none;" data-pushbar-close class="material-icons mb-2 p-3">
            <i class="bi bi-x-lg" style="font-size: 1.5rem;"></i>
        </button>
        <div class="p-3 py-5">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/works.html">Works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pages/posts.html">Posts</a>
                </li>
            </ul>
        </div>
    </div>
</div>