<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">Suvasish</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- {% include functions/mode_switcher.html %} -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Publications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/works.html">Works</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/resources.html">Resources</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/blog.html">Blog</a>
                </li>
                <li class="nav-item mx-2">
                    <!-- blank -->
                </li>
            </ul>
            {% include functions/mode_switcher.html %}
        </div>
    </div>
</nav>