<ul class="timeline">
    <li class="event mb-3">
        <p class="date">Jul 2024</p>
        <h5>Master of Science</h5>
        <p>Pursuing M.Sc in Computer Science from WBSU. Hopefully end in this july 2024.</p>
    </li>

    <li class="event mb-3">
        <p class="date">Jul 2022</p>
        <h5>Bachelor of Science</h5>
        <p>Completed B.Sc in Computer Science from BRSNC with overall 9.51 CGPA</p>
    </li>

    <li class="event mb-3">
        <p class="date">Feb 2018</p>
        <h5>Higher Secondary</h5>
        <p>Completed HS in PCM with overall score 72% under WBCHSE</p>
    </li>

    <li class="event mb-3">
        <p class="date">10.sep.2021</p>
        <h5>Bachelor of Science</h5>
        <p>Completed B.Sc in Computer Science from BRSNC with overall 9.51 CGPA</p>
    </li>

</ul>