/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

:root {
    /* default color scheme */
    --color1: #FFFFFF;  /* background */
    --color2: #E5E7E9;  /* card */
    --color3: #B3B6B7;  /*  */
    --color4: #616161;
    --color5: #424242;
    --color6: #212121;
    --color7: ;
    --color8: ;
    --red: #E74C3C;
}

/* common */

body {
    background-color: var(--color1);
    color: var(--color4);
    font-family: "Poppins", sans-serif;
    /* font-size: 1.1rem; */
}

a {
    color: unset;
}

code{
    color: var(--color5);
    background-color: var(--color2);
    padding: 2px 5px;
    border-radius: 5px;
}

pre code{
    background-color: transparent;
}
em{
    font-size: 10px;
    color: var(--color5);
}

#main .container {
    min-height: 70vh;
    /* border: 1px solid var(--red); */
}
.title,
.subtitle,
h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: "New Tegomin", serif; */
    color: var(--color5);
    text-transform: capitalize;
    font-weight: normal;
}
.subtitle {
    max-width: 800px;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: normal;
    color: var(--color4);
}
.title {
    /* font-weight: bold; */
    font-size: 3rem;
    line-height: 4rem;
    text-transform: capitalize;
}

.passport{
    width: 100%;
}
.bi{
    fill: var(--color6);
    color: var(--color6);
}

pre{
    padding: 1rem;
}

.highlight{
    border-radius: 10px;
}

blockquote{
    background-color: var(--color2);
    padding: 1rem;
    border-radius: 10px;
}

/* badge */
.badge {
    text-transform: uppercase;
    font-weight: bolder;
    border-radius: 5px;
    color: var(--color1);
    background-color: var(--color5);
    font-weight: normal;
}

.badge:hover {
    text-decoration: underline;
}

.badge::before {
    font-size: 1rem;
    content: "# ";
    color: var(--color3);
}

/* button */

.btn {
    border-radius: 0;
    /* border: 2px solid var(--color4); */
    background-color: var(--color6);
    color: var(--color1);
}

.btn:hover {
    background-color: var(--color4);
    color: var(--color2);
}

/* navbar */
#navbar {
    border-bottom: 1px solid var(--color2);
}

#navbar .nav-link,
#navbar .navbar-brand {
    color: var(--color5);
}

#navbar .disabled {
    color: var(--color3);
}

.navbar-toggler:hover {
    box-shadow: unset;
}

/* darkmode toggle */
#toggler-label {
    /* margin: 0 10px; */
    width: 30px;
    height: 20px;
    position: relative;
    display: block;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid black;
}

#toggler-label::after {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: black;
    border-radius: 13px;
}

#darkmode-toggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

#darkmode-toggle:checked+#toggler-label {
    background-color: gray;
}

#darkmode-toggle:checked+#toggler-label::after {
    left: 26px;
    transform: translateX(-100%);
    background-color: white;
}

#toggler-label,
#toggler-label::after {
    transition: 0.3s;
}

#toggler-label:active::after {
    width: 10px;
}

/* title row */
#titlerow{
    padding: 3rem 0;
}

/* #titlerow .title{
    font-size: 5rem;
    text-transform: capitalize;
    line-height: 4.5rem;
} */

/* #titlerow .subtitle{
    font-size: 2rem;
    text-transform: capitalize;
} */

/* blog sidebar */
.accordion-item,
.accordion-header,
.accordion-button {
    background-color: transparent;
    box-shadow: none;
    border: 0;
    border-radius: 0 !important;
}

.accordion-item {
    border-bottom: 2px solid var(--color4);
}

.accordion-button,
.accordion-body {
    padding: 1rem 1rem 1rem 0;
}

.accordion-button:enabled {
    background-color: transparent;
    box-shadow: none;
}

/* card */
.card {
    background-color: var(--color2);
    border: 0;
    border-radius: 0;
    padding: 1rem;
    min-height: 400px;
}

.card-title {
    font-weight: 400;
    font-size: large;
    text-transform: capitalize;
}

.card-title a {
    color: var(--color6);
}

.card:hover .card-title {
    text-decoration: underline;
}

.card-subtitle {
    font-size: .9rem;
    color: var(--color4);
}

.card .category {
    text-transform: uppercase;
    font-size: .9rem;
    color: var(--color4);
}

.card-footer {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.card .date {
    font-size: .8rem;
    color: var(--color5);
}

.card a {
    text-decoration: none;
}

/* post */
.post .content img{
    max-width: 100%;
}

.post a{
    color: var(--color5);
}

.post h1,
.post h2,
.post h3{
    margin: 2rem 0 1rem 0;
}
.post em{
    padding: 5px 0;
    display: block;
}

/* footer */
.footer {
    background-color: #111111;
    color: #FFFFFF;
    margin-top: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 5rem;
}

.footer a {
    color: #CCCCCC;
}

.footer-subtext {
    color: #AAAAAA;
}
.footer .bi{
    fill: #ffffff;
    color: #ffffff;
}

/* table */
/*
.post table{
    border: 1px solid var(--color4);
}
.post table th,
.post table td{
    border: 1px solid var(--color6);
    padding: 5px;
    text-align: start;
}
.post table th{
    background-color: var(--color4);
    font-weight: normal;
    color: var(--color1);
}
*/
table{
    margin-bottom: 1rem;
}
td{
    vertical-align: top;
    padding-right: 10px;
}

/* timeline */
.timeline {
    /* width: 500px; */
    border-left: 2px solid var(--color4);
    position: relative;
    margin: 15px;
    padding: 0 30px;
    list-style: none;
    /* line-height: 22px; */
}

.event {
    padding: 10px 5px;
    margin: 5px 0;
    position: relative;
}

.event::before {
    content: '';
    width: 15px;
    height: 15px;
    left: -38px;
    top: 15px;
    background-color: var(--color1);
    border: 2px solid var(--color4);
    border-radius: 50%;
    z-index: 1;
    position: absolute;
}
.date {
    color: var(--red);
}

/* table of contents */

.toc_list a{
    text-decoration: none;
}
.toc_list{
    color: var(--color5);
    list-style: none;
    width: 100%;
    /* border: 1px solid red; */
    padding: 0;
}
.toc_sublist{
    color: var(--color4);
    list-style: none;
}
.toc-contents{
    border-left: 1px solid var(--color3);
}
.toc_list li{
    margin: 0;
    padding: 5px 0 0 10px;
}
.toc_list li:hover{
    background-color: var(--color2);
}
