/* color scheme */
:root { /* light mode */
    --primary-black: #000000;
    --primary-white: #FFFFFF;
    --secondary-black: #1E1E1E;
    --secondary-white: #F5F5F5;
    --highlight: #f0ffd5;
    --light-gray: #DEDEDE;
    --link-color: #0b6efd;
}
:root.dark-mode { /* dark mode */
    --primary-black: #FFFFFF;
    --primary-white: #121212;
    --secondary-black: #EAEAEA;
    --secondary-white: #1E1E1E;
    --highlight: #3A4A1A;
    --light-gray: #3A3A3A;
    --link-color: #0b6efd;
}

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* globals */
*{
    color: var(--primary-black);
    font-family: "Google Sans", sans-serif;
    font-size: 14px;
}
body{
    background-color: var(--primary-white);
}
.main{
    min-height: 50vh;
}

h1, h2, h3, h4, h5, h6{
    margin: 1.5rem 0 1rem 0;
    font-family: "Playfair Display", serif;
    background-color: unset;
}
a{
    color: var(--link-color);
    text-decoration: none;
}
p, table{
    margin: 2rem 0 2rem 0;
}
code{
    color: var(--primary-black);
    background-color: var(--secondary-white);
    padding: 1px 4px;
    border-radius: 4px;
}
div{
    background-color: unset;
}

/* navbar */
nav{
    margin: 1rem 0;
}
.navbar{
    border-bottom: 1px solid var(--light-gray);
}
.nav-link{
    color: var(--primary-black);
}

/* profile */
.home .profile{
    display: block;
    margin: 0 auto;
    border-radius: 20em;
    padding: 1.2rem;
    width: 100%;
}

.home .publications{
    padding-right: 16px;
    border-collapse: separate;
    border-spacing: 0 15px;
}
.home .publications tr{
    position: relative;
}

.home .publications img{
    width: 150PX;
    min-height: 150px;
    object-fit: contain;
}

.home .publications a,
.home .publications em {
    background-color: transparent;
}

.home .publications td {
    background-color: var(--secondary-white);
    color: var(--secondary-black);
    padding: 10px;
    margin: 1rem 0 1rem 0;
    vertical-align: top;
    box-shadow: 5px 0 2px -4px rgba(0, 0, 0, 0.05);
}

.home .publications td img{
    border-radius: 10px;
    object-fit: cover;
}

.home .publications td:first-child {
    box-shadow: none;
    border-radius: 8px 0 0 8px;
}

.home .publications td:last-child {
    border-radius: 0 0 8px 0;
}

.home .publications .badge{
    border-radius: 0 0 7px 7px;
    padding-bottom: 5px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    transform: rotate(270deg);
    transform-origin: top right;
}

/* table */

.home table{
    margin: 2rem 0;
    border-collapse: separate;
    border-spacing: 0;
}

.home table a,
.home table em {
    background-color: transparent;
}

.home table td {
    padding: 0 15px 10px 0;
    margin: 1rem 0 1rem 0;
    vertical-align: top;
}

.menubutton{
    display: none;
}

/* post page */
.card{
    min-height: 200px;
    border: none;
    background-color: var(--secondary-white);
    border-radius: 1.5rem;
    color: var(--secondary-black);
}
.card-body, .card-footer{
    background-color: transparent;
    border: none;
    padding: 2rem;
}
.card-body .card-title{
    line-height: 2.2rem;
    color: var(--primary-black);
    font-family: "Google Sans", sans-serif;
}
.card-body .card-text{
    color: var(--secondary-black);
}
.card .card-img{
    min-height: 250px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}
.card:hover .card-title{
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

/* post */
.post-title{
    font-size: 3rem;
    line-height: 4rem;
}

.post-thumbnail{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.post table{
    /* border: 1px solid red; */
    margin: 2rem auto;
}
.post table thead{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.post table tbody{
    border-bottom: 2px solid black;
}
.post table td, .post table th{
    padding: 0 14px 0 4px;
}
.post img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/* highlight */
.highlight{
    padding: 1rem;
    border-radius: 1rem;
}

.highlight *{
    background-color: unset;
    color: unset;
}

blockquote {
    /* background-color: #ffefb1; */
    background-color: var(--highlight);
    border-left: 3px solid var(--secondary-black);
    padding: 20px;
    margin: 2rem 0;
    position: relative;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

blockquote p{
    padding: 0;
    margin: 0;
}

/* mathjax */
mjx-container *{
    font-size: unset;
}

/* media query */
@media only screen and (max-width: 992px) {
    .navbar .navbar-nav{
        display: none;
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menubutton{
        display: block;
    }
    .profile{
        max-width: 70%;
    }
    .home .publications td img{
        max-width: 100px;
    }
    .card{
        min-height: unset;
    }
}