---
layout: base
---

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img class="mb-5" style="width: 100%;" src="" alt="">
            <!-- <div class="mb-5">
                <div>In this page</div>
                <div><a href="#project">Projects</a></div>
                <div><a href="#project">Software</a></div>
                <div><a href="#project"></a></div>
            </div> -->
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8">
            {{ content }}
        </div>
    </div>
</div>