---
layout: base
---
<!-- <div class="home">
<div class="row">
    <div class="col-md-8 order-2 order-md-1">
        <p>I am an upcoming Ph.D. student in the Department of <a href="https://cseiitgn.com/">Computer Science and Engineering</a> at <a href="https://iitgn.ac.in/">Indian Institute of Technology Gandhinagar (IITGN)</a>. My key research interest lies in the field of reasoning of Deep Learning models and Multimodal AI. I have completed Masters in Computer Science from <a href="https://wbsu.ac.in/web/">West Bengal State University</a> in the year of 2024, where I have been advised by Prof. <a href="https://wbsu.ac.in/web/faculty/dr-rajat-pandit/">Rajat Pandit</a> and Prof. <a href="https://sites.google.com/site/sudipnaskar/">Sudip Kumar Naskar</a>. I have completed my Bachelor’s in Computer Science from <a href="https://www.brsnc.in/">Barrackpore Rastraguru Surendranath College</a> in the year of 2022, where I worked under the supervision of Prof. <a href="https://scholar.google.co.in/citations?user=vhkRGncAAAAJ&hl=en">Sukalyan Som</a>.</p>
        <div>
        <i class="bi bi-envelope-fill"></i> <a href="mailto:suvasish114@gmail.com">Email</a> <i class="bi bi-dot"></i>
        <i class="bi bi-file-earmark-person"></i> <a href="">CV</a> <i class="bi bi-dot"></i>
        <i class="bi bi-person-circle"></i> <a href="">Bio</a> <i class="bi bi-dot"></i>
        <i class="bi bi-mortarboard-fill"></i> <a href="">Scholar</a> <i class="bi bi-dot"></i>
        <i class="bi bi-linkedin"></i> <a href="linkedin.com/in/suvasish114/">LinkedIn</a> <i class="bi bi-dot"></i>
        <i class="bi bi-github"></i> <a href="https://github.com/suvasish114">Github</a> 
        </div>
    </div>
    <div class="col-md-4 order-1 order-md-2">
        <img src="/assets/profile.jpg" class="profile img-fluid1" alt="Profile Image">
    </div>
</div>

{{ content }}

</div> -->

<h3> Under Development 🚧 </h3>

Find me on: 
<i class="bi bi-envelope-fill"></i> <a href="mailto:suvasish114@gmail.com">Email</a> <i class="bi bi-dot"></i>
<i class="bi bi-linkedin"></i> <a href="linkedin.com/in/suvasish114/">LinkedIn</a> <i class="bi bi-dot"></i>
<i class="bi bi-github"></i> <a href="https://github.com/suvasish114">Github</a> 
