---
layout: base
---

<div class="row">
    <div class="col-md-3">
        <img class="mb-5" src="/assets/img/passport.jpg" alt="">
        <div class="mb-5">
            <p><a href="https://x.com/suvasish114"><i class="bi bi-twitter-x"></i> Twitter</a></p>
            <p><a href="https://www.linkedin.com/in/suvasish114/"><i class="bi bi-linkedin"></i> Linkedin</a></p>
            <p><a href="https://www.instagram.com/suvasish114/"><i class="bi bi-instagram"></i> Instagram</a></p>
            <p><a href="https://github.com/suvasish114"><i class="bi bi-github"></i> Github</a></p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="mb-5">
            <h5 class="sec-title">About</h5>
            <p>{{ content }}</p>
            <p>
                <a href="https://docs.google.com/document/d/1eGJ7zjzwFpV0yTHf_5P6gGzmO95D025k7QPa-OSZdBs/edit?usp=sharing"><span class="badge">Resume</span></a>
                <a href="mailto:suvasish114@gmail.com"><span class="badge">Email</span></a>
            </p>
        </div>
        <div class="mb-5">
            <h5 class="sec-title">Education</h5>
            <p>M.Sc in Computer Science | CGPA: 9.78<br>West Bengal State University, Barasat, WB, India</p>
            <p>B.Sc in Computer Science | CGPA: 9.51<br>Barrackpore Rastraguru Surendranath College,
                Barrackpore, WB, India</p>
        </div>

    </div>
    <div class="col-md-3">
        <div class="mb-5">
            <h5 class="sec-title">News</h5>
            <p> <code class="date">Jul.2024</code> <br>Secure 1st position in M.Sc in the department among
                15 students</p>
            <p> <code class="date">Mar.2024</code> <br>GATE qualified with a score of 469 (paper: CS)</p>
            <p> <code class="date">Dec.2022</code> <br>UGC-NET qualified for assistant professor
                <a href="https://drive.google.com/file/d/1-x5qWt8WKh-DfMa5htIPDnd_NchLhDAf/view?usp=sharing"><span class="badge">Certificate</span></a>
            </p>
            <p> <code class="date">Dec.2022</code> <br>Selected for DRDO - DIAT OTCC AI Professional</p>
        </div>
        <div class="mb-5">
            <h5 class="sec-title">Talks</h5>
            <p> <code class="date">Apr.2024</code> <br>Annual debate competition on “Why Books When There Is
                AI” <a href="https://docs.google.com/document/d/1z4WYU_YB_NQyOBKPs6pkL26TPjT3JtnjY1_L1Ce90rE/edit?usp=sharing"><span class="badge">Transcript</span></a></p>
        </div>
    </div>
</div>