---
title: page
layout: default
---

<div class="container pyasd-3">
    <div class="row">
        <div class="col-md-3 mb-3">
            {% if page.title == "blog" %}
            {% include views/sidebar/blog.html %}
            {% elsif page.title == "resources" %}
            {% include views/sidebar/resources.html %}
            {% elsif page.title == "works" %}
            {% include views/sidebar/works.html %}
            {% elsif page.title == "gallery" %}
            {% include views/sidebar/gallery.html %}
            {% endif %}
        </div>
        <div class="col-md-9 mb-3">
            {{ content }}
        </div>
    </div>
</div>