---
layout: base
---

<div class="mb-4">
    <a href="/" class="mb-3">Home</a> / <a href="/pages/post.html" class="mb-3">Posts</a>
</div>

<div class="my-5 post">
    <div class="post-title mb-4">{{ page.title | titlecase }}</div>
    <div class="mb-5">
        <span class="post-date">{{ page.date | date: "%d %b, %Y" }}</span>
        <i class="bi bi-dot mx-2"></i> 
        <span>{{ page.categories }}</span>
    </div>
    <img class="mb-5 post-thumbnail" src="{{ page.thumbnail }}" alt="">

    <div class="main">
        {{ content }}
    </div>
</div>